@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  overflow-x: hidden;
}

body {
  @apply bg-slate-50 text-slate-800;
  font-family: var(--font-inter), ui-sans-serif, system-ui;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-poppins), ui-sans-serif, system-ui;
}
